@model WolfLairBlog.Entity.DB.User
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <label>
            邮箱：@Html.TextBoxFor(c => c.Email)<br />
        </label>

        <label>
            用户名：@Html.TextBoxFor(c => c.UserName)<br />
        </label>
        <label>
            密  码：@Html.TextBoxFor(c => c.UserPwd)<br />
        </label>
        <label>
            验证码：<input type="text" name="code" /> <img src="/Account/ShowValidateCode" />
        </label>
        <div>
            <input type="submit" value="注册" />
            <span>@ViewData["msg"]</span>
        </div>
    }
</body>
</html>