<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="layout1" value="${longdate}|| ${uppercase:${level}}|| ${message}"/>
  <variable name="layout2" value="${longdate}- ${uppercase:${level}}- ${message}"/>
  <variable name="AppData_Low" value="${basedir}/App_Data/NLog.Errors/${shortdate}.Low.log"/>
  <variable name="AppData_High" value="${basedir}/error.log"/>
  <variable name="errorDetails" value="==============================${newline}发生时间：${longdate}${newline}类：${logger}${newline}信息：${message}${newline}方法：${stacktrace:format=DetailedFlat}${newline}例外堆栈：${exception:format=ToString}${newline}==============================${newline}${aspnet-request:serverVariable=url}
              "/>
  <variable name="mailSubject" value="NLog通知：${machinename}于${shortdate}${time}产生${level}记录"/>
  <variable name="mailHeader" value="===============header===============${newline}"/>
  <variable name="mailFooter" value="===============footer===============${newline}"/>
  <variable name="mailBody" value="${newline}时间：${shortdate}${newline}${newline}Log等级：${level:uppercase=true}${newline}${newline}Logger：${logger}${newline}${newline}Source：${callsite:className=true}${newline}${newline}Exception类：${exception:format=type}${newline}${newline}错误信息：${message}${newline}${newline}"/>
  <targets>
    <!--屏幕打印消息-->
    <!--
    <target name="console" xsi:type="ColoredConsole"
                    layout="${date:format=HH\:mm\:ss}> ${message}"/>

    -->
    <!--VS输出窗口-->
    <!--
    <target name="debugger" xsi:type="Debugger"
                    layout="${date:format=HH\:mm\:ss} | ${level:padding=-5} | ${message}" />-->


    <!--
    Trace Level层级最低
    Trace:追踪，提供非常详细的记录，开发阶段
    Debug:除错，详细程度比Trace少，生产环境
    Info:信息，会在生产环境中启用，以提供一些信息
    Warn:警告，例如可以恢复的临时故障
    Error:错误，发生错误
    Fatal:致命，非常严重的错误
      -->
    <!--保存至文件-->
    <target xsi:type="File" name="Low" fileName="${AppData_Low}" layout="${layout1}"/>
    <target xsi:type="File" name="High" fileName="${AppData_High}" layout="${errorDetails}"/>
    <target xsi:type="Database" name="databaseLog" connectionString="server=.;uid=sa;pwd=1230;database=WolfLairBlog" commandText="insert into NLog_Error(CreateDate,Origin,LogLevel,Message,Exception,StackTrace)values(@CreateDate,@Origin,@LogLevel,@Message,@Exception,@StackTrace)">
      <parameter layout="${date}" name="@CreateDate"/>
      <parameter layout="${callsite}" name="@Origin"/>
      <parameter layout="${level}" name="@LogLevel"/>
      <parameter layout="${message}" name="@Message"/>
      <parameter layout="${exception:format=Message,StackTrace}" name="@Exception"/>
      <parameter layout="${stacktrace}" name="@StackTrace"/>
    </target>

    <target xsi:type="Mail" name="email"
     smtpServer="smtp.163.com"
             smtpPort="25"
             smtpAuthentication="Basic"
             smtpUserName="13225896062@163.com"
             smtpPassword="675556820"
             enableSsl="false"
             from="13225896062@163.com"
             to="675556820@qq.com"
             subject="${mailSubject}"
             header="${mailHeader}"
             body="${mailBody}"
             footer="${mailFooter}"
  />

  </targets>
  <rules>
    <logger name="*" levels="Trace,Debug,Info" writeTo="Low" />
    <logger name="*" levels="Warn,Error,Fatal" writeTo="High" />
    <!--<logger name="*" levels="Trace,Debug,Info,Warn,Error,Fatal" writeTo="databaseLog" />-->
    <!--<logger name="*" levels="Error,Fatal" writeTo="email" />-->
  </rules>
</nlog>
